{{define "upload.success"}}
{{template "header" .}}
    <div class="container my-5">
        <div class="card shadow-sm rounded-3 px-5 py-3">
            <h1>{{.Name}}</h1>
            <a href="{{.File}}" target="__blank">File</a>
        </div>
    </div>
{{template "footer"}}
{{end}}